<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.BIND_VPN_SERVICE" />
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
  <uses-permission android:name="android.permission.RECORD_AUDIO" />
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
  <uses-permission android:name="android.permission.VIBRATE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <queries>
    <intent>
      <action android:name="android.intent.action.VIEW" />
      <category android:name="android.intent.category.BROWSABLE" />
      <data android:scheme="https" />
    </intent>
  </queries>
  <application android:name=".MainApplication" android:label="@string/app_name"
    android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round"
    android:allowBackup="true" android:theme="@style/AppTheme" android:supportsRtl="true"
    android:enableOnBackInvokedCallback="false">
    <meta-data android:name="expo.modules.updates.ENABLED" android:value="false" />
    <meta-data android:name="expo.modules.updates.EXPO_UPDATES_CHECK_ON_LAUNCH"
      android:value="ALWAYS" />
    <meta-data android:name="expo.modules.updates.EXPO_UPDATES_LAUNCH_WAIT_MS" android:value="0" />
    <service android:name=".VPNConnectionService"
      android:permission="android.permission.BIND_VPN_SERVICE" android:exported="false"
      android:foregroundServiceType="dataSync">
      <intent-filter>
        <action android:name="android.net.VpnService" />
      </intent-filter>
    </service>
    <activity android:name=".MainActivity"
      android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|uiMode"
      android:launchMode="singleTask" android:windowSoftInputMode="adjustResize"
      android:theme="@style/Theme.App.SplashScreen" android:exported="true"
      android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <receiver android:name=".VPNIntentReceiver" android:exported="true"
      android:directBootAware="true">
      <intent-filter>
        <action android:name="com.cbv.vpn.ADD_PROFILE" />
        <action android:name="com.cbv.vpn.START_VPN_BY_NAME" />
        <action android:name="com.cbv.vpn.START_VPN_BY_ID" />
        <action android:name="com.cbv.vpn.STOP_VPN" />
        <action android:name="com.cbv.vpn.GET_STATUS" />
        <action android:name="android.intent.action.BOOT_COMPLETED" />
        <action android:name="android.intent.action.QUICKBOOT_POWERON" />
        <action android:name="android.net.conn.CONNECTIVITY_ACTION" />
      </intent-filter>
    </receiver>
  </application>
</manifest>